@page "/settings"
@using Pokewordle.Shared.Util;

<PageTitle>Settings</PageTitle>

<p>Language</p>


<p>Choose Game Columns</p>

<ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
</ul>

@code
{

    protected override async Task OnInitializedAsync()
    {

        SharedSettings.GameColumnTypes.Clear();
        SharedSettings.GameColumnTypes.AddRange(new ColumnType[] { ColumnType.SPRITE, ColumnType.NAME, ColumnType.GENERATION, ColumnType.TYPES, ColumnType.ABILITIES, ColumnType.SPRITE });

    }

}