#game-input ::part(control) {
    border: 1px solid black;
    box-shadow: 0.75rem 0.75rem rgba(0, 0, 0, 0.45);
    /*background-color: rgba(255, 255, 255, 0.25);*/
    /*background: linear-gradient(300deg, #0b624c 0%, #2c3338 100%);*/
    background: linear-gradient(300deg, #516261 0%, #52716c 100%);
}

#game-input ::part(selected-value) {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #d7d7d7;
    /*color: black;*/
    /*width: 70%;*/
    /*height: 7rem;*/
    /*padding: 2rem;*/
}

#game-input ::part(listbox) {
    /*background-color: rgba(72, 125, 108);*/
    /*background-color: #0e8567;*/
    /*background-color: rgba(0, 0, 0, 0.47);*/
    /*background: linear-gradient(300deg, rgb(13, 91, 71) 0%, rgba(10,139,106,1) 100%);*/
    /*background: linear-gradient(330deg, rgba(98,113,125,1) 27%, rgba(71,152,142,1) 65%, rgba(34,205,165,1) 89%, rgba(0,255,186,1) 100%);*/
    /*background: linear-gradient(153deg, rgba(98, 113, 125, 1) 33%, rgba(71, 152, 142, 1) 100%);*/
    /*background: linear-gradient(153deg, rgba(98,113,125,1) 33%, rgba(71,152,142,1) 100%, rgba(34,205,165,1) 100%, rgba(0,255,186,1) 100%);*/
    /*background: linear-gradient(153deg, rgba(98,113,125,1) 33%, rgba(52,116,108,1) 100%, rgba(34,205,165,1) 100%, rgba(0,255,186,1) 100%);*/
    /*background: linear-gradient(300deg, #0b624c 0%, #2c3338 100%);*/
    background: linear-gradient(300deg, #516261 0%, #52716c 100%);
    
    /*background-color: #59726f;*/
    top: 3rem;
    height: 17.2rem;
    width: 15rem;
    /*align-self: center;*/
    text-align: center;
    /*padding: 50px;*/
    box-shadow: 0.75rem 0.75rem rgba(0, 0, 0, 0.45);
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    border: 1px solid black;
    /*padding: 0rem 1rem;*/
}

/*fluent-combobox {*/
/*    color: lime;*/
/*    background-color: black;*/
/*}*/

#game-input fluent-option {
    color: white;
    /*background-color: rgba(255, 255, 255, 0.75);*/
    font-size: 1.1em;
    align-self: center;
    /*justify-self: center;*/
    /*text-align: center;*/
    justify-content: center;
    /*align-content: center;*/
    margin: 0.35rem 0.3rem;
    padding: 1.7rem 0rem;
    border-radius: 5px;
    width: 10rem;
    /*background-color: #0d5242;*/
    /*box-shadow: 0.3rem 0.3rem rgba(0, 0, 0, 0.35);*/
    background-color: rgba(255, 255, 255, 0.23);
    box-shadow: 0.3em 0.3em rgba(0, 0, 0, 0.3);
    /*background-color: rgba(0, 0, 0, 0.35);*/
}

#game-input fluent-option:hover {
    /*background-color: rgba(0, 0, 0, 0.55);*/
    background-color: rgba(255, 255, 255, 0.32);
}

#game-input fluent-option:nth-of-type(2n-1) {
    /*background-color: rgba(49, 48, 48, 0.35);*/
}

#game-input fluent-option:nth-of-type(2n) {
    /*background-color: rgba(255, 255, 255, 0.35);*/
}