@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar"> *@
    @*     <NavMenu /> *@
    @* </div> *@

    <div class="sidebar-wrapper">
        <div class="custom-sidebar"></div>
    </div>
    <main>
        <article class="page-content">
            @Body
        </article>
    </main>
</div>