.page {
    background: linear-gradient(330deg, rgba(98,113,125,1) 27%, rgba(71,152,142,1) 65%, rgba(34,205,165,1) 89%, rgba(0,255,186,1) 100%);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 250px auto;
}

.sidebar-wrapper {
    /*background: black;*/
    /*position: relative;*/
    /*height: 100vh;*/
    /*width: 200px;*/
    grid-column: 1;
}
.sidebar-wrapper .custom-sidebar {
    background: rgba(255,255,255,0.3);
    position: sticky;
    /*position: sticky;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 225px;*/
    /*height: 100%;*/
    /*padding: 20px 0;*/
    /*transition: all 0.5s ease;*/
}

.page-body {
    grid-column: 2;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

/*.page {*/
/*    position: relative;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    !*background: linear-gradient(150deg, rgba(217,146,24,1) 27%, rgba(0,221,255,1) 86%);*!*/
/*    !*background: linear-gradient(150deg, rgba(217,146,24,1) 21%, rgba(121,179,126,1) 75%, rgba(0,221,255,1) 100%);*!*/
/*    !*background: linear-gradient(160deg, rgba(117,135,149,1) 23%, rgba(40,214,176,1) 70%, rgba(0,255,190,1) 100%);*!*/

/*    !*background: linear-gradient(130deg, rgba(98,113,125,1) 21%, rgba(34,205,165,1) 74%, rgba(0,255,186,1) 100%);*!*/
/*!*background: linear-gradient(150deg, rgba(98,113,125,1) 18%, rgba(71,152,142,1) 53%, rgba(34,205,165,1) 72%, rgba(0,255,186,1) 100%);*!*/
/*    background: linear-gradient(330deg, rgba(98,113,125,1) 27%, rgba(71,152,142,1) 65%, rgba(34,205,165,1) 89%, rgba(0,255,186,1) 100%);*/
/*}*/


/*main {*/
/*    flex: 1;*/
/*    !*background: linear-gradient(133deg, rgba(5,39,103,1) 0%, rgba(26,89,129,1) 40%, rgba(58,6,71,1) 100%); *!*/
/*    !*background:  linear-gradient(315deg, rgba(33,4,41,1) 9%, rgba(5,28,71,1) 66%);*!*/
/*    !*background: white;*!*/
/*    height: 100vh;*/
/*}*/

/*.sidebar {*/
/*    !*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*!*/
/*    !*border-right: 0.35em solid rgba(225, 255, 255, 0.5);*!*/
/*    !* Make sidebar static in scrollable area *!*/
/*    !*border-right: 1px solid black;*!*/
/*    position: sticky;*/
/*    top: 0;*/
/*    !*border-color: rgba(0, 0, 0, 0.49);*!*/
/*    !*box-shadow: 1em 1em rgba(0,0,0,0.50);*!*/
/*    !*background-color: white;*!*/
/*    height: fit-content;*/
/*}*/

/*.top-row {*/
/*    !*background-color: #062360;*!*/
/*    !*background-image: linear-gradient(80deg, rgb(5, 39, 103) 0%, #3a0647 70%);*!*/
/*    border-bottom: 1px solid black;*/
/*    justify-content: flex-end;*/
/*    height: 3.5rem;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.content {*/
/*    !*background: linear-gradient(315deg, rgba(33, 4, 41, 1) 9%, rgba(5, 28, 71, 1) 66%);*!*/
/*    background: rgba(0, 0, 0, 0.4);*/
/*    !*background: linear-gradient(180deg, hsl(38, 80%, 37%) 27%, rgba(0,201,235,1) 86%);*!*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    padding-top: 1.1rem;*/
/*}*/

/*.top-row ::deep a, .top-row ::deep .btn-link {*/
/*    white-space: nowrap;*/
/*    margin-left: 1.5rem;*/
/*    text-decoration: none;*/
/*}*/

/*.top-row ::deep a:hover, .top-row ::deep .btn-link:hover {*/
/*    text-decoration: underline;*/
/*}*/

/*.top-row ::deep a:first-child {*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*}*/

/*!*@media (max-width: 640.98px) {*!*/
/*!*    .top-row:not(.auth) {*!*/
/*!*        display: none;*!*/
/*!*    }*!*/

/*!*    .top-row.auth {*!*/
/*!*        justify-content: space-between;*!*/
/*!*    }*!*/

/*!*    .top-row ::deep a, .top-row ::deep .btn-link {*!*/
/*!*        margin-left: 0;*!*/
/*!*    }*!*/
/*!*}*!*/

/*!*@media (min-width: 641px) {*!*/
/*!*    .page {*!*/
/*!*        flex-direction: row;*!*/
/*!*    }*!*/

/*!*    .sidebar {*!*/
/*!*        width: 250px;*!*/
/*!*        !*height: 100vh;*!*!*/
/*!*        height: fit-content;*!*/
/*!*        position: sticky;*!*/
/*!*        top: 0;        *!*/
/*!*    }*!*/

/*!*    .top-row {*!*/
/*!*        position: sticky;*!*/
/*!*        top: 0;*!*/
/*!*        z-index: 1;*!*/
/*!*    }*!*/

/*!*    .top-row.auth ::deep a:first-child {*!*/
/*!*        flex: 1;*!*/
/*!*        text-align: right;*!*/
/*!*        width: 0;*!*/
/*!*    }*!*/

/*!*    .top-row, article {*!*/
/*!*        padding-left: 2rem !important;*!*/
/*!*        padding-right: 1.5rem !important;*!*/
/*!*    }*!*/
/*}*/
