td {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
}

.poke-type-border {
    float: left;
    border-width: 3px;
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
    width: 70px;
    background-color: #000000;
}

.pokemon-type {
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    margin: 0px;
}
