.square {
    position: relative;
    margin: 2px;
    border: 1px solid hsla(0,0%,100%,.59);
    box-sizing: border-box;
    transition: flex-basis .1s ease-in-out;
    flex-basis: calc(12.5% - 4px);
}

.square-content {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: default;
    text-shadow: 0 0 3px #000;
    box-shadow: inset 0 0 6px #000;
}