@using Pokewordle.Shared.HtmlUtil;

@* <link href="/css/owncss/custom.css" rel="stylesheet" /> *@
<tr>
    @if (TableCells is null)
    {
        <td>Loading . . .</td>
    } else
    {
        @foreach (ICellData tableCell in TableCells)
        {
            <TemplateCell TableCell=tableCell></TemplateCell>
            //TODO This creates an unnecessary td at the end
            <td style="width: 2px;"></td>
        }
    }
</tr>

@code {
    //private bool firstCell = true;
    [Parameter]
    [EditorRequired]
    public Task<IList<ICellData>>? TableCellsTask { get; set; }

    public IList<ICellData>? TableCells { get; set; }


    protected override async Task OnInitializedAsync()
    {
        TableCells = await TableCellsTask;
    }
}
