@using Pokewordle.Shared.HtmlUtil;

@if (TableCell is null)
{
    <td></td>
} else
{
    if (TableCell is SimpleTableCell simpleTableCell)
    {
        <SimpleCell Cell="simpleTableCell"></SimpleCell>
    } else if (TableCell is GradientTableCell gradientTableCell)
    {
        <GradientCell Cell=gradientTableCell></GradientCell>
    } else if (TableCell is PokeTypeTableCell pokeTypeTableCell)
    {
      <PokeTypeCell Cell=pokeTypeTableCell></PokeTypeCell>  
    } else
    {
        <td></td>
    }
}

@code {
    [Parameter]
    [EditorRequired]
    public ITableCell? TableCell { get; set; }
}
