@using Pokewordle.Shared.HtmlUtil;

@* <div class="cell-wrapper"> *@
@switch (TableCell) {
    case SimpleCellData simpleTableCell:
        <SimpleCell Cell="@simpleTableCell"></SimpleCell>
        break;
    case GradientCellData gradientTableCell:
        <GradientCell Cell=@gradientTableCell></GradientCell>
        break;
    case PokeTypeCellData pokeTypeTableCell:
        <PokeTypeCell Cell=@pokeTypeTableCell></PokeTypeCell>
        break;
    case ImageCellData imageCellData:
        <ImageCell Cell="imageCellData"></ImageCell>
        break;
    default:
        <td></td>
        break;
}
@* </div> *@

@code {
    [Parameter]
    [EditorRequired]
    public ICellData? TableCell { get; set; }
}
