/*body {
    background-color: #000000;
    color: #534265;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 15px;
    margin: 20px;
    padding: 0;
    align-items: center;
    justify-content: center;
    position: relative;
    display: grid;
} */

.page-content {
    /*background: #1e1e1e;*/
    /*background: red;*/
    /*height: 100%;*/
    /*width: 100%;*/
}

#game-container {
    /*background-image: linear-gradient(315deg, #2f2f2f, #383838);*/
    /*background:  linear-gradient(315deg, rgba(33,4,41,1) 9%, rgba(5,28,71,1) 66%);*/
    border-radius: 10px;
    padding: 20px;
    display: grid;
    justify-content: center;
    text-align: center;
}

#pokemon-image {
    width: 20vw;
    height: 20vw;
    margin: 0 auto;
}

#pokemon-name {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0px;
}

/* tbody td {
    background-color: #222222;
    border-radius: 7px;
} */

.game-pokemon-type-field > pre {
    color: #ffffff;
    padding: 5px 7px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 0.8em;
    display: inline-block;
}

/*
#game-table td,
#game-table th {
    width: 7vw;
    height: 7vw;
    text-align: center;
}
*/


.pokemon-selected-image {
    width: 7vw;
    height: 7vw;
    margin: 0 auto;
}

/*#game-input-field {*/
/*    margin-top: 20px;*/
/*    text-align: center;*/
/*    width: 20vw;*/
/*    height: 5em;*/
/*    border: 3px solid black;*/
/*}*/

#txtWord {
    outline: none;
    border: none;    
    /*appearance: none;*/
    justify-self: center;
    width: 10em;
    /*height: 3em;*/
    border-bottom: 1px solid #d7d7d7;
    font-size: 1.5em;
    padding: 0.1em 0.2em;
    color:  #d7d7d7;
    background-color: rgba(0, 0, 0, 0.29);
}

#submit-button {
    margin-top: 15px;
    width: 2em;
    height: 2em;
}

#game-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
