@using Pokewordle.Shared.Util;
@inject SharedSettings SharedSettings;
@inject NavigationManager NavigationManager;


<link href="/css/pokecss/SearchBox.css" rel="stylesheet"/>
<div id="language-input fluent-combo-box">
    <InputSelect TValue="Theme" @bind-Value="SharedSettings.SelectedTheme">
            @foreach (Theme theme in Enum.GetValues<Theme>())
            {
                <option value="@theme">@theme.ToString()</option>
            }
        </InputSelect>
</div>

@code {

}