.sidebar {
    background: linear-gradient(150deg, #088e6b 0%, #2e4947 100%);
}

.content {
    background: linear-gradient(315deg, hsl(207, 12%, 15%) 10%, hsl(164, 100%, 18%) 100%);
}

#game-input ::part(control), .searchbox ::part(control),
 .pokemon-input
 {
    background: linear-gradient(300deg, #516261 0%, hsl(175, 34%, 30%) 100%);
}

#game-input ::part(listbox), .searchbox ::part(listbox), .pokemon-dropdown-container, .pokemon-dropdown-container {
    background: linear-gradient(300deg, #516261 0%, hsl(175, 34%, 30%) 100%);
}