.sidebar {
    background: linear-gradient(270deg, hsl(21, 85%, 42%) 0%, hsl(103, 89%, 32%) 120%);
}

.content {
    background: linear-gradient(90deg, hsl(21, 85%, 37%) 0%, hsl(103, 89%, 28%) 120%);
}

#game-input ::part(control), .searchbox ::part(control), .pokemon-input {
    background: linear-gradient(90deg, hsl(27, 43%, 50%) 0%, hsl(79, 29%, 44%) 100%);
}

#game-input ::part(listbox), .searchbox ::part(listbox), .pokemon-dropdown-container {
    background: linear-gradient(90deg, hsl(27, 43%, 50%) 0%, hsl(79, 29%, 44%) 100%);
}