.sidebar {
    background: linear-gradient(60deg, rgb(222, 182, 63) 0%, rgb(128, 3, 118) 100%);
}

.content {
    /*linear-gradient(225deg, hsl(45, 71%, 51%) 0%, hsl(305, 95%, 23%) 100%);*/
    background: linear-gradient(325deg, hsl(45, 71%, 51%) 0%, hsl(305, 95%, 21%) 100%);
}

#game-input ::part(control), .searchbox ::part(control), #game-input ::part(listbox), .searchbox ::part(listbox),
.pokemon-input, .pokemon-dropdown-container {
    background: linear-gradient(90deg, #944862 0%, #c49580 100%);
}
